.app-wrapper{
  display: grid;

  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h h"
  "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-gap: 10px;
}

.header{
  grid-area: h;
  background-color: #F5F5F5;
}

header img{
  height: 30px;
}

.nav{
  grid-area: n;
  background-color: #C4C4C4;
}

.content{
  grid-area: c;
}

.content__main-img{
  width: 100%;
}