.app-wrapper{
  display: grid;

  width: 1860px;
  margin: 0 auto;

  grid-template-areas: 
  "header header header"
  "navbar content content";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 30px;
}

.app-wrapper-content{
  grid-area: content;
  background: aquamarine;
}