@font-face {
    font-family: 'Poppins';
    src: local('Poppins Light'),
    url('./fonts/Poppinslight.woff2') format('woff2'),
    url('./fonts/Poppinslight.woff') format('woff'),
    url('./fonts/Poppinslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Regular'),
    url('./fonts/Poppinsregular.woff2') format('woff2'),
    url('./fonts/Poppinsregular.woff') format('woff'),
    url('./fonts/Poppinsregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Medium'), local('Poppins-Medium'),
    url('./fonts/Poppinspoppins-semiboldmedium.woff2') format('woff2'),
    url('./fonts/Poppinspoppins-semiboldmedium.woff') format('woff'),
    url('./fonts/Poppinspoppins-semiboldmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins SemiBold'),
    url('./fonts/Poppinspoppins-boldsemibold.woff2') format('woff2'),
    url('./fonts/Poppinspoppins-boldsemibold.woff') format('woff'),
    url('./fonts/Poppinspoppins-boldsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'),
    url('./fonts/Poppinsbold.woff2') format('woff2'),
    url('./fonts/Poppinsbold.woff') format('woff'),
    url('./fonts/Poppinsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
